@import 'sidebar';
@import 'navbar';

.layout {
  height: 100vh;
  display: flex;

  .layout-sidebar {
    width: $sideBarWidthExpand;
    background-color: $menuBg;
    transition: width .25s ease-in-out;

    &.is-collapse {
      width: $sideBarWidthFold;
    }

    .el-menu {
      border-right: none;
    }
  }

  .layout-main {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__navbar {
      height: $navBarHeight;
      background-color: $green;
      display: flex;
      align-items: center;
      padding: 12px;
    }

    &__content {
      overflow: hidden;
    }
  }
}
