@import "sidebar";
@import "navbar";

#app {
  height: 100vh;
  display: flex;

  .app-sidebar {
    width: $sideBarWidth;
    background-color: $menuBg;
  }

  .app-main {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__navbar {
      height: $navBarHeight;
      background-color: $green;
    }

    &__content {
      overflow: hidden;
    }
  }
}