@import 'sidebar';
@import 'navbar';

.layout {
  height: 100vh;
  display: flex;

  .layout-sidebar {
    width: $sideBarWidth;
    background-color: $menuBg;
  }

  .layout-main {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__navbar {
      height: $navBarHeight;
      background-color: $green;
    }

    &__content {
      overflow: hidden;
    }
  }
}
