{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "type-num": [
    2,
    "always",
    [
      "feat",
      "fix",
      "docs",
      "style",
      "refactor",
      "test",
      "chore",
      "revert"
    ]
  ]
}